button{
    padding: 5px;
    font-size: 18px;
    background-color: rgb(214, 214, 214)
}

.boton-verde{
    background-color: rgb(36, 185, 36);
}

.boton-rojo{
    background-color: red;
}


p{
    font-size: 18px;
}

